header {
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	width: 100%;
	height: 98px;
	background: #000000;
	border-top: 3px solid #DEDE1B;
	border-bottom: 30px solid #444;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	position: relative;
}

#headercontainer {
	width: 1000px;
	margin: 0 auto;
}

#braincontainer {
	width: 40px;
	height: 28px;
	margin-top: 5px;
	padding: 1px;
	border-right: 1px solid silver;
	color: silver;
}

#followbar {
	width: 40%;
	margin-top: -30px;
}

#followbar ul {
	list-style: none;
	margin-top: 40px;
	margin-left: 5px;
}

#followbar p,
#followbar a {
	margin: 4px 0px;
	color: silver;
	font-size: 12px;
	font-family: "Open Sans", Arial, sans-serif;
	text-decoration: none;
}

#cupbanner {
	position: absolute;
	top: 0px;
	left: 40%;
	margin: -3px auto;
	width: 200px;
	height: 250px;
	border: 3px solid #DEDE1B;
	background: white;
	text-align: center;
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
}

body {
	background-image:url("striped_lens");
}

#wrap {
	width: 900px;
	padding: 50px;
}

#featured {
	margin: 100px 260px;
}

#featured h2 {
	margin-bottom: 10px;
}

#postindex {
	width: 1200px;
	margin: 0px auto;
	height: 400px;
	background: #f4f4f4;
}

.postbox {
	height: 200px;
	width: 200px;
	padding: 20px;
	margin: 5px;
	float: left;
}

.postbox h4 {
	margin: 5px 0px;
}